{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <form action="{% url 'delete-tag' pk=tag.pk %}" class="form-login profile-dlt" method="post">
            <h1>Delete Practice</h1>
            {% csrf_token %}
            <p><strong>Are you sure you want to delete "{{ tag.name }}"?</strong></p>
            <div class="profile-info-btn">
                <a href="#" class="yes-btn" onclick="this.closest('form').submit(); return false;">
                    Yes
                </a>
                <a href="{% url 'services' %}" class="no-btn">No</a>
            </div>
        </form>
    </div>
{% endblock %}