<header class="container-manage-pg">
    <nav class="navbar">
        <ul class="nav-list-manage-page">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create-service' %}">Create Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create-class' %}">Create Studio Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Create Tags</a>
            </li>
        </ul>
    </nav>
</header>