{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="site-container">
        <div class="profile-container">
            <div class="profile-image">
                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Avatar">
                {% else %}
                    <img src="{% static 'images/avatar_icon.png' %}" alt="Avatar">
                {% endif %}
            </div>
            <div class="profile-info">
                <section>
                    <h2>{{ profile.role }}</h2>
                    {% if profile.first_name and profile.last_name %}
                        <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
                    {% else %}
                        <h1>None</h1>
                    {% endif %}
                </section>
                <section>
                    {% if profile.bio %}
                        <p> {{ profile.bio }}</p>
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </section>
                <div class="profile-info-btn">
                    <a href="{% url 'edit-profile' pk=user.pk %}" class="edit-profile-btn">Edit Profile</a>
                    <a href="{% url 'delete-profile' pk=user.pk %}" class="delete-profile-btn">Delete Profile</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

