{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <form action="" class="form-login" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Registration</legend>
{#                {{ form.non_field_errors }}#}

                <p class="form-field">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </p>

                <p class="form-field">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </p>

                <p class="form-field">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </p>

                <div class="btn-container">
                    <button type="submit">Register</button>
                </div>

            </fieldset>
        </form>
    </div>
{% endblock %}

