{% extends 'base.html' %}

{% block content %}
    <h1 class="my-book-h1">My Bookings</h1>

    <div class="class-outer-container">
        <div class="class-container">
            <div class="class-title">
                <h2>Upcoming Bookings</h2>
            </div>
            <div class="profile-image">
                {% if upcoming_bookings %}
                    <ul>
                        {% for booking in upcoming_bookings %}
                            <li>
                                {{ booking.booked_class.class_title }}
                                - {{ booking.booked_class.class_date }} // {{ booking.booked_class.start_time }}
                                <div class="book-buttons-ctr">
                                    <a href="{% url 'details-class' booking.booked_class.pk %}" class="serv-btn details">Details</a>

                                    <form method="post" action="{% url 'cancel-booking' booking.booked_class.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="serv-btn d-btn">Cancel</button>
                                    </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No upcoming bookings.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="class-outer-container">
        <div class="class-container">
            <div class="class-title">
                <h2>Past Bookings</h2>
            </div>
                {% if past_bookings %}
                    <ul>
                        {% for booking in past_bookings %}
                            <li>
                                {{ booking.booked_class.class_title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No past bookings.</p>
                {% endif %}

        </div>
    </div>
{% endblock %}