{% extends 'base.html' %}

{% block content %}
    <div class="home-content">
        <div class="home-content-img">
            <h1 class="home-title">Wellness Studio Platform</h1>
            <p class="home-text">Find your balance. Book your next class. Transform your lifestyle.</p>
            <div class="home-content-btn">
                <button class="join-btn">Join Now</button>
                <button class="explore-btn">Start Your Journey</button>
            </div>
        </div>
    </div>
{% endblock %}