{% extends 'base.html' %}

{% block content %}
    {% if classes %}
        {% for studio_class in classes %}

            <div class="class-outer-container">
                <div class="class-container">

                    <div class="class-title">
                        <h2>{{ studio_class.class_title }}</h2>
                        <p>{{ studio_class.instructor.profile.get_full_name }}</p>
                    </div>

                    <div class="class-info">
                        <p>{{ studio_class.class_description }}</p>
                        <p>Tags: {% for tag in studio_class.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</p>
                    </div>
                </div>
                <div class="host-buttons-ctr">
                    <a href="{% url 'details-class' studio_class.pk %}" class="general-btn">Details</a>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class="class-outer-container">
            <div class="class-container">
                <div class="class-title">
                    <h2>There are no classes for this practice yet!</h2>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}