{% extends 'base.html' %}

{% block content %}
    <div class="site-container">
        <div class="class-container">

            <div class="class-title">
                <h2>{{ studio_class.class_title }}</h2>
                <a href="{% url 'detail-profile' studio_class.instructor.profile.user.pk %}">
                    {{ studio_class.instructor.profile.get_full_name }}
                </a>
            </div>

            <div class="profile-image">
                <ul class="list-class-info">
                    <li>Level: {{ studio_class.level }}</li>
                    <li>Date: {{ studio_class.class_date }}</li>
                    <li>Start Time: {{ studio_class.start_time }}</li>
                    <li>Duration in Minutes: {{ studio_class.duration_minutes }}</li>
                    <li>Capacity: {{ studio_class.capacity }}</li>
                    <li>Hall Number: {{ studio_class.hall_number }}</li>
                    <li>Price: {{ studio_class.price }}</li>
                </ul>
            </div>
            <div class="class-info">
                <p>{{ studio_class.class_description }}</p>
                <p>Tags: {{ studio_class.tags.all|join:", " }}</p>

                {% if avg_rating %}
                    <a href="{% url 'class-reviews' studio_class.pk %}">
                        Average Rating: {{ avg_rating|floatformat:1 }} / 5
                    </a>
                {% else %}
                    <p>Average Rating: No ratings yet</p>
                {% endif %}
            </div>
        </div>
        <div class="host-buttons-ctr">
            {% if not studio_class.is_past %}
                {% if is_booked %}
                    <form method="post" action="{% url 'cancel-booking' studio_class.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="booking-btn">Cancel booking</button>
                    </form>
                {% else %}

                    <form method="post" action="{% url 'book-class' studio_class.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="booking-btn">Book for Class</button>
                    </form>
                {% endif %}
            {% endif %}
            <a href="{% url 'create-review' studio_class.pk %}" class="general-btn">Make a Review</a>
            {#            {% if request.user.profile.role == 'Host' %}#}
            {#                <a href="{% url 'edit-class' studio_class.pk %}" class="serv-btn e-btn">Edit Class</a>#}
            {#                <a href="{% url 'delete-class' studio_class.pk %}" class="serv-btn d-btn">Delete Class</a>#}
            {#            {% endif %}#}
        </div>
    </div>
{% endblock %}